certifi==2018.1.18
chardet==3.0.4
Click==7.0
colorama==0.4.1
docutils==0.15.2
Flask==1.1.1
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
oauthlib==2.0.6
olefile==0.45.1
pbr==5.4.3
python-dateutil==2.8.0
python-debian==0.1.32
pytz==2019.3
urllib3==1.25.7
virtualenv==16.2.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Werkzeug==0.16.0
